/* 购物车页面 */

.content
{
  font-size: 12px;
}

/* 购物车网页主体 */
#cart_main
{
  width: 1000px;margin: 0 auto;
}

/* 购物车主体中的头部 */
.cart_filter_bar
{
  padding-top: 50px;
}
.myCart
{
  padding-left: 22px;height: 25px;background: url('../images/icons.png') no-repeat -525px -330px;
}
.myCart p
{
  font-size: 20px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #555;margin-left: 14px;line-height: 27px;float: left;
}
.myCart a
{
  font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #64a131;padding-top: 10px;float: right;
}
.myCart a:hover
{
  text-decoration: underline;
}

/* 购物车头部 */
.cartmain
{
  margin-top: 14px;
}
/* 左侧全选按钮 */
.cartmain .cartHead
{
  display:block;height: 48px;line-height: 48px;padding-left: 14px;border: 1px solid #ccc;background: #f1f1f1;color: #999;
}
.cartmain .cartHead .cart_select
{
  width: 63px;height: 50px;float: left;
}
.cartmain .cartHead .cart_select p
{
  float: left;padding-left: 20px;height: 20px;margin-top: 15px;background: url('../images/icons.png') no-repeat -62px -192px;cursor: pointer;
}
.cartmain .cartHead .cart_select .select
{
  background-position: -62px -157px;
}
.cartmain .cartHead .cart_select span
{
  margin-left: 15px;
}
.cartmain .cartHead span
{
  float: left;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;line-height: 50px;color: #999;
}
.cartmain .cartHead .cart_good
{
  margin-left: 96px;float: left;
}
.cartmain .cartHead .cart_spec
{
  margin-left: 245px;float: left;
}
.cartmain .cartHead .cart_price
{
  margin-left: 75px;float: left;
}
.cartmain .cartHead .cart_number
{
  margin-left: 61px;float: left;
}
.cartmain .cartHead .cart_sum
{
  margin-left: 93px;float: left;
}
.cartmain .cartHead .cart_action
{
  margin-left: 88px;float: left;
}
/* 购物车订单 */
/* 购物车为空 */
.cartmain .cart_order .cart_empty
{
  width: 100%;padding: 50px 0;font-size: 16px;text-align: center;color: #555;border-bottom: 1px solid #ccc;
}
.cartmain .cart_order .cart_empty a
{
  color: #64a131;
}
/* 购物车不为空 */
.cartmain .cart_order .cart_empty a:hover
{
  text-decoration: underline;
}
.cartmain .cart_order
{
  border: 1px solid #ccc;border-top: none;border-bottom: none;
}
.cartmain .cart_order .list_unstyled
{
  padding-left: 0;
}
.cartmain .cart_order .list_unstyled .cartbox
{
  height: 130px;border-bottom: 1px solid #ccc;
}
.cartmain .cart_order .list_unstyled .cartbox .cartorder_select
{
  height: 100%;width: 23px;padding: 0 14px;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .cartorder_select p
{
  float: left;padding-left: 20px;height: 20px;margin-top: 56px;background: url('../images/icons.png') no-repeat -62px -192px;cursor: pointer;
}
.cartmain .cart_order .list_unstyled .cartbox .cartorder_select .select
{
  background-position: -62px -157px;
}
.cartmain .cart_order .list_unstyled .cartbox .cart_imgs
{
  width: 110px;height: 110px;margin: 10px 0;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .cart_imgs img
{
  width: 100%;height: 100%;vertical-align: middle;
}
.cartmain .cart_order .list_unstyled .cartbox .cart_name
{
  width: 260px;height: 100%;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .cart_name p
{
  margin: 15px 0;margin-left: 15px;margin-bottom: 0;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.cartmain .cart_order .list_unstyled .cartbox .cart_name p a
{
  display: inline-block;height: auto;overflow: hidden;text-overflow: ellipsis;color: #555;text-decoration: none;max-width: 245px;
}
.cartmain .cart_order .list_unstyled .cartbox .cart_name p a:hover
{
  text-decoration: underline;
}
.cartmain .cart_order .list_unstyled .cartbox .spec_num
{
  height: 100%;width: 62px;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #555;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .spec_num p
{
  margin: 15px 0;margin-left: 15px;margin-bottom: 0;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.cartmain .cart_order .list_unstyled .cartbox .price_singular
{
  height: 100%;width: 168px;text-align: center;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .price_singular p
{
  font-size: 14px;font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif;color: #64a131;font-weight: bold;margin: 15px 0;margin-left: 15px;margin-bottom: 0;
}
.cartmain .cart_order .list_unstyled .cartbox .num_sel_lage
{
  margin-top: 15px;height: 22px;border: 1px solid #ddd;border-radius: 1px;width: 91px;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .num_sel_lage span
{
  width: 28px;height: 22px;background: #eee;color: #a6a6a6;text-align: center;line-height: 22px;font-size: 14px;cursor: pointer;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .num_sel_lage input
{
  cursor: default;outline: none;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size: 14px;width: 35px;height: 22px;border: 0;text-align: center;line-height: 24px;padding: 0;background: #fff;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .sum
{
  width: 120px;text-align: center;height: 100%;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .sum p
{
  margin: 15px 0;margin-left: 0;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #64a131;font-weight: bold;
}
.cartmain .cart_order .list_unstyled .cartbox .delete
{
  width: 130px;cursor: pointer;text-align: center;height: 100%;float: left;
}
.cartmain .cart_order .list_unstyled .cartbox .delete p
{
  margin: 15px 0;margin-left: 15px;margin-bottom: 0;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;cursor: default;
}
.cartmain .cart_order .list_unstyled .cartbox .delete p a:hover
{
  text-decoration: underline;
}

/* 促销 */
.cartmain .cart_order .m_carttips
{
  height: 48px;border-bottom: 1px solid #ccc;background: #fff9eb;
}
.cartmain .cart_order .m_carttips .send_free
{
  padding-left: 51px;padding-top: 14px;float: left;
}
.cartmain .cart_order .m_carttips .send_free p
{
  width: 60px;height: 20px;line-height: 20px;text-align: center;font-family: .cartmain .cart_order .m_carttips .send_free;border-radius: 4px;background: #64a131;overflow: hidden;color: #fff;
}
.cartmain .cart_order .m_carttips>p
{
  font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;padding-left: 17px;padding-top: 14px;padding-right: 17px;
}
.cartmain .cart_order .m_carttips>p em
{
  color: #f6ab00;font-style: normal;font-weight: bold;font-size: 14px;
}
.cartmain .cart_order .m_carttips>p a
{
  color: #64a131;text-decoration: none;
}
.cartmain .cart_order .m_carttips>p a:hover
{
  text-decoration: underline;
}

/* 结算 */
.cartmain .cartfooter
{
  margin-top: 24px;padding-left: 14px;height: 50px;line-height: 50px;border: 1px solid #64a131;background: #f5ffed;
}
.cartmain .cartfooter .cart_select
{
  float: left;
}
.cartmain .cartfooter .cart_select p
{
  float: left;padding-left: 20px;height: 20px;margin-top: 15px;background: url('../images/icons.png') no-repeat -62px -192px;cursor: pointer;
}
.cartmain .cartfooter .cart_select .select
{
  background-position: -62px -157px;
}
.cartmain .cartfooter .cart_select span
{
  float: left;margin-left: 15px;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #b4b8b2;
}
.cartmain .cartfooter .cart_pay
{
  float: right;
}
.cartmain .cartfooter .cart_pay span:nth-child(1)
{
  float: left;margin-left: 15px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #999;
}
.cartmain .cartfooter .cart_pay span:nth-child(1) em
{
  color: #64a131;font-style: normal;font-weight: bold;
}
.cartmain .cartfooter .cart_pay span:nth-child(2)
{
  margin-left: 15px;font-size: 22px;font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif;color: #64a131;font-weight: bold;float: left;
}
.cartmain .cartfooter .cart_pay .go_pay
{
  float: left;text-decoration: none;margin-left: 15px;width: 150px;height: 50px;text-align: center;font-size: 20px;font-family: "Hiragino Sans GB W6","Microsoft YaHei",sans-serif;color: #fff;background: #64a131;cursor: pointer;
}

/* 查看历史 */
.look_history
{
  position: relative;
}
.look_history .scrollbar ul li
{
  padding-top: 15px;padding-bottom: 15px;line-height: 32px;font-size: 16px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;color: #555;cursor: pointer;float: left;
}
.look_history .scrollbar ul .looked
{
  border-bottom: 1px solid #64a131;
}
.look_history .scrollbar ul li p
{
  padding-right: 10px;border-right: 1px solid #ccc;
}
.look_history .scrollbar ul li:nth-child(2) p
{
  padding-left: 10px;border: none;
}
.look_history .look_history_con
{
  height: 266px;border: 1px solid #ddd;
}
.look_history .look_history_con .wrap
{
  border: none;
}
.look_history .look_history_con .wrap .frame
{
  overflow: hidden;height: 264px;width: 920px;margin: 0 auto;
}
.look_history .look_history_con .wrap .frame .slidee
{
  transform: translateZ(0px);
}
.look_history .look_history_con .wrap .frame .slidee li
{
  float: left;margin: 22px 9px;width: 166px;
}
.look_history .look_history_con .wrap .frame .slidee li a
{
  display: block;text-decoration: none;
}
.look_history .look_history_con .wrap .frame .slidee li a img
{
  width: 100%;vertical-align: middle;border: 0;
}
.look_history .look_history_con .wrap .frame .slidee li a p
{
  padding-left: 3px;padding-right: 3px;font-size: 14px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.look_history .look_history_con .wrap .frame .slidee li a .history_name
{
  color: #555;margin-top: 15px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.look_history .look_history_con .wrap .frame .slidee li a .history_price
{
  color: #b0b0b0;margin-bottom: 3px;
}
.look_history .look_history_con .wrap .frame .slidee li>a:hover
{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.look_history .look_history_con .wrap .prev
{
  position: absolute;top: 193px;left: 12px;cursor: pointer;
}
.look_history .look_history_con .wrap .prev div
{
  width: 12px;height: 22px;background: url('../images/icons.png') no-repeat -127px -155px;
}
.look_history .look_history_con .wrap .next
{
  position: absolute;top: 193px;right: 20px;cursor: pointer;
}
.look_history .look_history_con .wrap .next div
{
  width: 12px;height: 22px;background: url('../images/icons.png') no-repeat -127px -225px;
}
.look_history .look_history_con .wrap .prev div:hover
{
  background-position: -156px -187px;
}
.look_history .look_history_con .wrap .next div:hover
{
  background-position: -127px -187px;
}


/* 购物车提交订单流程 -> 新增 */
.logNavContent .collapse
{
  min-width: 768px;margin-right: 0;margin-left: 0;
}
.logNavContent .collapse ul
{
  width: 352px;height: 42px;background: url('../images/icons.png') no-repeat -39px -887px;float: right;margin-right: 32px;
}
.logNavContent .collapse ul li
{
  position: relative;margin-top: 7px;font-size: 20px;font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;text-align: center;float: left;
}
.logNavContent .collapse ul li:nth-child(1)
{
  left: -10px;
}
.logNavContent .collapse ul li:nth-child(2)
{
  left: 80px;
}
.logNavContent .collapse ul li:nth-child(3)
{
  left: 165px;
}
.logNavContent .collapse ul li span
{
  color: #fff;
}
.logNavContent .collapse ul li p
{
  color: #64a131;margin-top: 12px;font-size: 12px;
}

/* 确认删除购物车弹框 */
#p_dialog
{
  display: none;
}
.dialog_mask
{
  position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.36);z-index: 2222;transition: opacity: .3s;
}
.dialog
{
  width: 502px;margin-left: -258px;position: fixed;top: 50%;left: 50%;margin-top: -183px;padding: 8px;background: rgba(0, 0, 0, 0.16);z-index: 2223;
}
.dialog h5
{
  position: relative; height: 40px;padding: 0 15px;background: #eaeaea;margin: 0;font-size: 16px;line-height: 40px;color: #555;
}
.dialog h5 span
{
  display: inline-block;float: right;width: 20px;height: 20px;margin-right: -5px;margin-top: 10px;cursor: pointer;
}
.dialog h5 span img
{
  display: block;width: 17px;height: 17px;
}
.dialog .dialog_con
{
  padding: 20px;background: #fff;min-height: 49px;padding-top: 30px;
}
.dialog .dialog_con .formitem
{
  width: 100%;line-height: 30px;margin: 0 0 15px;
}
.dialog .dialog_con .formitem button
{
  min-width: 90px;margin-right: 15px;border-radius: 4px;height: 34px;line-height: 34px;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1em;text-align: center;cursor: pointer;border: 1px solid #64a131;font-family: inherit;
}
.dialog .dialog_con .formitem .btn_success
{
  color: #fff;border-color: #64a131;margin-left: 120px;background: #64a131;
}
.dialog .dialog_con .formitem .btn_default
{
  margin-left: 0;color: #333;background: #fff;border-color: #ddd;
}


/* 提示未选中商品遮罩 */
#p_warning
{
  display: none;
}
.warning_mask
{
  position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.36);z-index: 2222;transition: opacity: .3s;
}
.warning
{
  width: 502px;margin-left: -258px;position: fixed;top: 50%;left: 50%;margin-top: -183px;padding: 8px;background: rgba(0, 0, 0, 0.16);z-index: 2223;
}
.warning h5
{
  position: relative; height: 40px;padding: 0 15px;background: #eaeaea;margin: 0;font-size: 16px;line-height: 40px;color: #555;
}
.warning h5 span
{
  display: inline-block;float: right;width: 20px;height: 20px;margin-right: -5px;margin-top: 10px;cursor: pointer;
}
.warning h5 span img
{
  display: block;width: 17px;height: 17px;
}
.warning .warning_con
{
  padding: 20px;background: #fff;min-height: 49px;padding-top: 30px;
}
.warning .warning_con .warning_formitem
{
  width: 100%;line-height: 30px;margin: 0 0 15px;
}
.warning .warning_con .warning_formitem button
{
  min-width: 90px;margin-right: 15px;border-radius: 4px;height: 34px;line-height: 34px;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1em;text-align: center;cursor: pointer;border: 1px solid #64a131;font-family: inherit;
}
.warning .warning_con .warning_formitem .warning_btn_success
{
  color: #fff;border-color: #64a131;margin-left: 180px;background: #64a131;
}
